In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('tennis.csv')
print(df.head())
print(df.tail())

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes
     outlook  temp humidity  windy play
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     object
 1   temp      14 non-null     object
 2   humidity  14 non-null     object
 3   windy     14 non-null     bool
 4   play      14 non-null     object
dtypes: bool(1), object(4)
memory usage: 594.0+ bytes
None

In [10]:
print("\n Shape of DataFrame:")
print(df.shape)

print("\n Column Name:")
print(df.columns.tolist())

print("\n Data Types of Each Column:")
print(df.dtypes)

print("\n Descriptive statistics:")
print(df.describe())

 Shape of DataFrame:
(14, 5)

 Column Name:
['outlook', 'temp', 'humidity', 'windy', 'play']

 Data Types of Each Column:
outlook     object
temp        object
humidity    object
windy         bool
play        object
dtype: object

 Descriptive statistics:
       outlook  temp humidity  windy play
count       14    14       14     14   14
unique       3     3        2      2    2
top      sunny  mild     high  False  yes
freq         5     6        7      8    9

In [11]:
# single column
print(df['humidity'])

0       high
1       high
2       high
3       high
4     normal
5     normal
6     normal
7       high
8     normal
9     normal
10    normal
11      high
12    normal
13      high
Name: humidity, dtype: object

In [12]:
#multi column
print(df[['outlook','temp']])

     outlook  temp
0      sunny   hot
1      sunny   hot
2   overcast   hot
3      rainy  mild
4      rainy  cool
5      rainy  cool
6   overcast  cool
7      sunny  mild
8      sunny  cool
9      rainy  mild
10     sunny  mild
11  overcast  mild
12  overcast   hot
13     rainy  mild

In [23]:
print(df.isnull())
print(df.isnull().sum())
df.dropna()
df.fillna(0)

    outlook   temp  humidity  windy   play
0     False  False     False  False  False
1     False  False     False  False  False
2     False  False     False  False  False
3     False  False     False  False  False
4     False  False     False  False  False
5     False  False     False  False  False
6     False  False     False  False  False
7     False  False     False  False  False
8     False  False     False  False  False
9     False  False     False  False  False
10    False  False     False  False  False
11    False  False     False  False  False
12    False  False     False  False  False
13    False  False     False  False  False
outlook     0
temp        0
humidity    0
windy       0
play        0
dtype: int64

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [19]:
#return first row
print('\n first row')
print(df.iloc[0],'\n')

#return first 5 row
print('\n first five row')
print(df.iloc[0:5], '\n')

# returns row by label
print(df.loc[0],'\n') 

# returns column by label
print(df.loc[:, 'outlook'],'\n')

 first row
outlook     sunny
temp          hot
humidity     high
windy       False
play           no
Name: 0, dtype: object


 first five row
    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

outlook     sunny
temp          hot
humidity     high
windy       False
play           no
Name: 0, dtype: object

0        sunny
1        sunny
2     overcast
3        rainy
4        rainy
5        rainy
6     overcast
7        sunny
8        sunny
9        rainy
10       sunny
11    overcast
12    overcast
13       rainy
Name: outlook, dtype: object